[role="navigation"] {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $red;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    font-size: 1em;
    @include box-shadow(0, 0, 10px, black);
    z-index: 50;
    p {
        margin: auto 1em;
        padding: 0;
        color: $accent;
        font-weight: 100;
        font-size: 1.5em;
        min-width: 285px;
        #bracket {
            position: relative;
            bottom: 3px;
        }
        span.brfront {
            @extend #bracket;
            color:$white !important;
        }
        span.brback {
            @extend #bracket;
            color: $accent !important;
        }
    }
    ul.nav {
        list-style-type: none;
        margin-right: 1em;
        min-width: 336px;
        padding:0;
        text-align: right;
        li {
            display: inline-block;
            padding: 0;
            &:hover {

            }
            a {
                color:$light;
                background: $red !important;
                cursor: pointer;
                padding: 0.5em;
                &.active {color:$accent;}
                &:hover {
                    animation: menu 0.5s ease forwards;
                }
                &:after {
                    content: "";
                    background: $white;
                    width: 0;
                    height: 2px;
                    display: block;
                    @include transition(width 0.5s);
                }
                &.active:after, &:hover:after {
                    width: 100%;
                }
            }
        }
    }
}
@keyframes menu {
    from {color: $light;}
    to {color:$accent;}
}
@media only screen and (max-width: 768px) {
    [role="navigation"] {
        ul.nav {
            margin: 0 auto;
        }
    }
}
